.added-recipe-li {
	background-color: white;
	border-radius: var(--border-radius);
	color: var(--secondary-color);
	display: flex;
	justify-content: space-between;
	padding: .5rem;
	margin: .5rem 0;
	width: 100%;
}


.build-meal-section {
	display: block;
}

.button-section {
	display: flex;
	justify-content: space-around;
}

.build-meal-button {
	background-color: white;
	border: none;
	color: var(--secondary-color);
	display: block;
	font-weight: bold;
	margin: 0 auto;
	padding: 1rem 0;
	width: 40vw;
}
	.build-meal-button:hover {
		background-color: rgba(0,0,0,.1)
	}


.delete-recipe-from-repo-button {
	cursor: pointer;
	text-align: center;
	margin-left: .5rem;
}
	.delete-recipe-from-repo-button:hover {
		background-color: rgba(0,0,0,.1)	
	}

/*.save-button {
	background-color: white;
	border: none;
	color: var(--secondary-color);
	display: block;
	font-weight: bold;
	margin: 0 auto;
	padding: 1rem 4rem;
}*/

.new-meal-summary {
	background-color: var(--primary-color);

	padding: 1rem;
}
	.new-meal-summary h3 {
		border-bottom: 5px solid var(--secondary-color);
		color: white;
		margin-bottom: 1rem;
		padding-bottom: .5rem;
	}

.recipe-li {
	background-color: white;
	border: 1px solid var(--light-grey);
	border-radius: var(--border-radius);
	display: block;
	margin: .5rem 0;
	padding: .5rem;
	width: 100%;
}

.recipe-top-row {
	display: flex;
	justify-content: space-between;
}

.recipe-you-could-select-in-build-view {
	border-radius: var(--border-radius);
	width: 100%;
}

.meal-remove-button {
	cursor: pointer;
	color: white;
	text-align: center;
	background-color: var(--primary-color);
	border-radius: 50%;
	margin-left: .5rem;
	width: 1.5rem;
	height: 1.5rem;
}

.list-of-recipes {
	width: 95vw;
	margin: 0 auto 2rem;
}

.top-bar {
	background-color: var(--primary-color);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: .25rem;
	width: 100vw;

}
	.top-bar .back-button {
		background-color: white;
		border-radius: var(--border-radius);
		color: var(--primary-color);
		min-width: 2rem;
		text-align: center;
		font-style: bold;
		font-size: 1.5rem;

		transform: scaleX(-1);
	}
	.top-bar h2 {
		background-color: var(--primary-color);
		color: white;
	}
