.build-meal-section {
	display: block;
}

.new-meal-summary {
	background-color: var(--light-grey);
}

.recipe-li {
	border: 1px solid var(--light-grey);
	border-radius: var(--border-radius);
	margin: 1rem 0;
}
	.recipe-li:hover{
		background-color: rgba(0,0,0,.2)
	}