.added-recipe-li {
	background-color: white;
	border-radius: var(--border-radius);
	color: var(--dark-green);
	display: flex;
	justify-content: space-between;
	padding: .5rem;
	margin: .5rem 0;
	width: 100%;
}


.build-meal-section {
	display: block;
}

.button-section {
	display: flex;
	justify-content: space-around;
}

.cook-button {
	background-color: white;
	border: none;
	color: var(--dark-green);
	display: block;
	margin: 0 auto;
	padding: 1rem 4rem;
}
	.cook-button:hover {
		background-color: rgba(0,0,0,.1)
	}
.save-button {
	background-color: white;
	border: none;
	color: var(--dark-green);
	display: block;
	margin: 0 auto;
	padding: 1rem 4rem;
}

.new-meal-summary {
	background-color: var(--light-green);

	padding: 1rem;
}
	.new-meal-summary h3 {
		border-bottom: 3px solid var(--dark-green);
		color: white;
		margin-bottom: 1rem;
	}

.recipe-li {
	background-color: white;
	border: 1px solid var(--light-grey);
	border-radius: var(--border-radius);
	margin: .5rem 0;
	padding: .5rem;
	width: 100%;
}
	.recipe-li:hover{
		background-color: rgba(0,0,0,.1)
	}

.recipe-remove-button {
	cursor: pointer;
	color: white;
	text-align: center;
	background-color: var(--light-green);
	border-radius: 50%;
	margin-left: .5rem;
	width: 1.5rem;
	height: 1.5rem;
}

.list-of-recipes {
	width: 95vw;
	margin: 0 auto 2rem;
}

.top-bar {
	background-color: var(--light-green);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: .25rem;
	width: 100vw;

}
	.top-bar .back-button {
		background-color: white;
		border-radius: var(--border-radius);
		color: var(--light-green);
		min-width: 2rem;
		text-align: center;
		font-style: bold;
		font-size: 1.5rem;

		transform: scaleX(-1);
	}
	.top-bar h2 {
		background-color: var(--light-green);
		color: white;
	}