.add-ingredients-to-new-recipe {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
/*.add-ingredients-to-new-recipe input {
	max-width: 10rem;
}*/

.added-ingredients-for-new-recipe, .added-steps-for-new-recipe {
	background-color: var(--light-grey);
	border-radius: var(--border-radius);
	max-width: 90vw;
	margin: 1rem auto 0;
	min-height: 4rem;
}


.cookbook-section h1 {
	background-color: var(--primary-color);
	color: white;
	width: 100vw;
}

.cookbook-section section {
	border-top: 1px solid var(--dark-grey);
	padding: 1rem 0;
	margin: 3rem 0;
}

.cookbook-section header {
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
}
	.cookbook-section header * {margin: .2rem 0;}

.cookbook-section textarea {
	min-height: 6rem;
	min-width: 50vw;
}

.cookbook-section .little-red-button {
	border: 1px solid white;
	height: 2rem;
	width: 2rem;
}




.ingredient-in-new-recipe-section {
	border-radius: var(--border-radius);
}

.recipe-serving-size-input {
	max-width: 3rem;
}





.new-recipe-new-step-top-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}



.submit-new-recipe-button-area {
	margin: 0 auto;
	width: 100vw;
}
.submit-recipe-button {
	background-color: var(--primary-color);
	border: none;
	color: white;
	padding: 1rem 3rem;
	margin: 0 auto;
	font-weight: bold;
}