.current-step-card {
	background-color: var(--light-grey);
	border-radius: var(--border-radius);
	color: var(--dark-grey);
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	max-width: 350px;
	min-width: 150px;

}
	.current-step-card h1 {
		margin-bottom: .5rem;
		padding: 1rem;
	}