.cooking-view-card {
	max-width: 250px;
	min-width: 250px;
	height: 8rem;
}

.list-of-steps {
	display: flex;
	flex-direction: row;
	min-height: 20vh;
}

.recipe {
	display: block;
	margin: 0 0 2rem 0;
}

.recipe-container {
	display: block;
	position: relative;
}

.steps-container {
	display: flex;
	flex-direction: row;
	min-height: 20vh;
}

.recipe-name {
	background-color: var(--primary-color);
	color: white;
	padding: .5rem 0;
	margin-bottom: .5rem;
}

.recipe-time-seconds {
	display: none;
}
