.timer-card {
/*	background-color: rgba(76, 16, 31,.3);*/
/*	background-color: white;*/
	border: 1px solid var(--med-grey);
	border-radius: var(--border-radius);
/*	padding: 1rem;*/
	flex-shrink: 0;
	flex-grow: 0;
	font-size: .8rem;
	max-width: 80vw;
	margin: .5rem 0;
}
	.timer-card * {
		font-weight: bold;
	}