@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rubik');

:root {
	font-family: 'Open Sans', sans-serif;
	--light-grey: #eee;
    --med-grey: #dddddd;
    --dark-grey: #5d5d5d;
    --border-radius: 4px;

    --dark-green: #44813E;
    --light-green: #92C24C;
    --cream: #FFFADD;
    --brown: #916A2A;
    --yellow: #FCD949;

    --app-name: 'Reciplanner';

}

* {
	box-sizing: border-box;
	color: var(--dark-grey);
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

button {
	background: none;
	background-color: inherit;
	border: 1px solid var(--med-grey);
	border-radius: var(--border-radius);
	color: var(--dark-grey);
	cursor: pointer;
	font: inherit;
	margin: 0 auto;
	outline: inherit;
}
	button:hover {
		background-color: rgba(0,0,0,.2)
	}

section {
	display: flex;
	flex-direction: row;
}