@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
	font-family: 'Roboto', sans-serif;
	--light-grey: #eee;
    --med-grey: #dddddd;
    --dark-grey: #5d5d5d;
    --border-radius: 4px;

    --dark-green: #44813E;
    --light-green: #92C24C;
    --cream: #FFFADD;
    --brown: #916A2A;
    --yellow: #FCD949;

    --app-name: 'Reciplanner';

}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

section {
	display: flex;
	flex-direction: row;
}