@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rubik');

:root {
	font-family: 'Open Sans', sans-serif;
	--light-grey: #eee;
    --med-grey: #cdcdcd;
    --dark-grey: #5d5d5d;
    --border-radius: 4px;

/*Green Palatte*/
/*    --secondary-color: #44813E;
    --primary-color: #92C24C;
    --cream: #FFFADD;
    --brown: #916A2A;
    --tertiary-color: #FCD949;*/

    --primary-color: #C12A4F; 
    --secondary-color: #F0C021; 
    --tertiary-color: #F0EC57;
    --cream: #FFFADD;
    --brown: #916A2A;

    --app-name: 'Reciplanner';
}

* {
	box-sizing: border-box;
	color: var(--dark-grey);
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

button {
	background: none;
	background-color: inherit;
	border: 1px solid var(--med-grey);
	border-radius: var(--border-radius);
	color: var(--dark-grey);
	cursor: pointer;
	font: inherit;
	margin: 0 auto;
	outline: inherit;
}
	button:hover {
		background-color: rgba(0,0,0,.2)
	}


input, textarea {
	border-radius: var(--border-radius);
	border-style: none;
	border: 1px solid var(--dark-grey);
	color: var(--dark-grey);
	font: inherit;
	font-size: 1rem;
	padding: .25rem;
}
	input:focus {
		outline-color: var(--tertiary-color);
	}
	textarea {
		display: block;
		resize: none;
	}

/*section {
	display: flex;
	flex-direction: row;
}*/


body {
	height: 100vh;
	background-image: url("./images/swish-bars-03.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: bottom 0 left 0;
}

.dim-on-hover:hover{
		background-color: rgba(0,0,0,.2)
	}

.little-red-button{
	background-color: var(--primary-color);
	border: none;
	border-radius: 50%;
	color: white;
	flex-shrink: 0;
	flex-grow: 0;
	height: 1.5rem;
	width: 1.5rem;
}
	.little-red-button * {
		color: white;
	}