:root{
    --color-1: blue;
    --color-2: #dddddd;
}

.bar-timer-bar{
    animation-name: 'barTimerAnimation';
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-color: var(--color-1);
    height: 5px;
}

.bar-timer-field{
    background-color: var(--color-2);
    position: relative;
    width: 100wv;
}

@keyframes barTimerAnimation {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

