:root{
    --color-1: black;
}

.bar-timer-bar{
    animation-name: 'barTimerAnimation';
    animation-iteration-count: infinite;
    background-color: var(--color-1);
    height: 5px;
}

.bar-timer-field{
    background-color: grey;
    width: 100wv;
}

@keyframes barTimerAnimation {
    from {
        width: 0vw;
    }

    to {
        width: 100vw;
    }
}

